.mobileApp_section_container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  margin-top: 20px;
}

body {
  font-family: "Museo Sans Rounded", sans-serif;
}

.mobileApp_section {
  background: linear-gradient(115deg, rgb(240, 240, 245) 0%, rgb(255, 255, 255) 75%);
  width: 65.95745%;
  float: right;
  margin-left: 2.12766%;
  padding-left: 15px;
}

section .landing_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.mobile_info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.brand_info {
  height: 100%;
}
.brand_info h2 {
  color: #123971;
  font-weight: 600;
}

.brand_display {
  width: 50%;
  height: 100%;
}
.brand_display .img_placeHolder {
  display: flex;
  width: 100%;
  height: 100%;
}
.brand_display .img_placeHolder .mobile {
  display: inline-block;
  margin-top: 45px;
  height: 475px;
}

.benefits {
  list-style-type: none;
  padding: 0px;
  font-size: 14px;
}
.benefits li {
  padding: 2px 6px;
  padding-right: 12px;
  margin-bottom: 25px;
  background: white;
  border: 0.99px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 16px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.benefits li .icon {
  scale: 0.7;
  line-height: 7px;
}

.iconStores_container {
  display: flex;
}
.iconStores_container .appleStore_icon {
  margin-right: 15px;
  background-color: black;
}
.iconStores_container .appleStore_icon .description {
  color: #F9F8F2;
}
.iconStores_container .playStore_icon {
  background-color: #E6EAF0;
}
.iconStores_container .playStore_icon .description {
  color: #0F366D;
}
.iconStores_container .appleStore_icon, .iconStores_container .playStore_icon {
  height: 40px;
  width: 132px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 0px 10px 12px;
  border-radius: 8px;
}
.iconStores_container .appleStore_icon:hover, .iconStores_container .playStore_icon:hover {
  cursor: pointer;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2392156863);
}
.iconStores_container .appleStore_icon img, .iconStores_container .playStore_icon img {
  margin-right: 12px;
}
.iconStores_container .appleStore_icon .description, .iconStores_container .playStore_icon .description {
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  font-family: "Nunito";
}
.iconStores_container .appleStore_icon .description .text, .iconStores_container .playStore_icon .description .text {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: -1px;
}
.iconStores_container .appleStore_icon .description .icon_name, .iconStores_container .playStore_icon .description .icon_name {
  font-size: 14px;
  font-weight: 500;
}

.mobile_info_desc .description_text {
  color: #123971;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 15px;
}
.mobile_info_desc .call_to_action {
  color: #123971;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}

html[dir=rtl] body {
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
}
html[dir=rtl] .mobileApp_section {
  background: linear-gradient(67deg, rgb(255, 255, 255) 34%, rgb(249, 249, 249) 0%);
  padding-left: 0px;
  overflow: hidden;
  padding-right: 15px;
  margin-right: 2.12766%;
  margin-left: 0;
}
html[dir=rtl] .benefits li {
  padding-right: 0px;
  padding-left: 12px;
}
html[dir=rtl] .iconStores_container .appleStore_icon {
  margin-left: 15px;
  margin-right: 0px;
}
html[dir=rtl] .iconStores_container .appleStore_icon > img {
  margin-top: -5px;
}
html[dir=rtl] .iconStores_container #store_icon {
  padding-right: 10px;
  padding-left: 0px;
}
html[dir=rtl] .iconStores_container #store_icon img {
  margin-left: 12px;
  margin-right: 0px;
}/*# sourceMappingURL=style.css.map */