
.mobileApp_section_container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    margin-top: 20px;

}
.mobileApp_section{
    font-family: 'Museo Sans Rounded', sans-serif;
    background: linear-gradient(115deg, rgba((240 240 245)) 0%, rgba(255,255,255,1) 75%);
    width: 65.95745%;
    float: right;
    margin-left: 2.12766%;
    padding-left: 15px;
}
section{

    .landing_mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:10px;
    }
}
.mobile_info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.brand_info{
    height: 100%;
    h2{
        color:#123971;
        font-weight: 600;
    }
}

.brand_display{
    width:50%;
    height: 100%;
    .img_placeHolder{
        display: flex;
        width: 100%;
        height: 100%;

        .mobile{
            display: inline-block;
            margin-top: 45px;
            height: 475px;
        }
    }
}

.benefits{
    list-style-type: none;
    padding: 0px;
    font-size: 14px;
    li{
        padding: 2px 6px;
        padding-right: 12px;
        margin-bottom: 25px;
        background: white;
        border: 0.99px solid #0000001A;
        border-radius:16px;
        width: max-content;
        display: flex;
        align-items: center;
        .icon{
            scale: .7;
            line-height: 7px;
        }
    }
}

.iconStores_container{
    display: flex;
    .appleStore_icon{
        margin-right: 15px;
        background-color: black;
        .description{
            color: #F9F8F2;
        }
    }
    .playStore_icon{
        background-color: #E6EAF0;
        .description{
            color:#0F366D;
        }
    }
    .appleStore_icon,.playStore_icon{
        height:40px;
        width:132px;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 10px 0px 10px 12px;
        border-radius: 8px;
        &:hover{
            cursor: pointer;
            box-shadow: 0px 16px 32px 0px #0000003D;
        }
        img{
             margin-right: 12px;
        }
        .description{
            display: flex;
            flex-direction: column;
            width: max-content;
            font-family: 'Nunito';
            .text{
                font-size: 12px;
                margin-bottom: 3px;
                margin-top: -1px;
            }
            .icon_name{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
.mobile_info_desc{
    .description_text{
        color:#123971;
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 30px;
        line-height: 15px;
    }
    .call_to_action{
        color:#123971;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 30px;
    }
}
#about_us{
    padding-bottom:100px;
    .header{
        font-size: 1.8em;
        color:#123971;
        font-weight: 600;
    }
    #journey{
        .sub_header{
            font-size: 1.1em;
            color:#123971;
            font-weight: 600;
        }
    }
    .time_line{
        display: flex;
        width: 92%;
        margin: auto;
        justify-content: space-evenly;
        position: relative;
        padding-top: 30px;
        &:after{
            content: "";
            position: absolute;
            top: 77%;
            width: 86%;
            height: 6px;
            border-radius: 10px;
            background: #FFFFFF;
            border: 1px solid #0000001A;
        }
        .time_line_item{
            display: flex;
            flex-direction: column;
            min-width: 95px;
            height: 130px;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            z-index: 99;
            position: relative;
            .dialog_container{
                position: absolute;
                top:-10px;
                margin: 0px;
                padding: 7px 10px;
                width: 100%;
                margin-left: -15px;
               &.bottom{
                top:90%;
                margin-top: 0px;
                .text{
                    margin-bottom: 0px;
                    padding-top: 40%;
                    span{
                        margin-top: 20px;
                    }
                    img{
                        scale:-1;
                    }
                }
               }

            }
            .text{
                    position: relative;
                    padding: 10px 7px;
                    width: 100%;
                    font-size: 11px;
                    color:#0F366D;


                img{
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    top:0px;
                    z-index: -1;
                }
            }
            .step{
               width: 40px;
               height: 40px;
               position: absolute;
               top: 60%;
            }
        }
    }

}

#iso{
    margin-top: 30px;
    .header{
        text-align: center;
        color: #0F366D;
        margin-bottom: 40px;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        img{
            position: absolute;
            top: -15px;
            left: 20%;
            // scale: 1.1;
        }
    }
}
#our{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    p{
        height: 60px;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 20px;
    }
    h3{
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 15px;
    }
    #vision{
        background-color: #EA580B;
    }
    #promise{
        background-color: #F59E32;
    }
    
    div{
        color: white;
        padding: 30px 45px;
        img{
            width: 100%;
        }
    }
}

html[dir=rtl]{  
    .mobileApp_section{
        background: linear-gradient(67deg, rgb(255, 255, 255)37%, rgb(240, 240, 245) 0%);
        padding-left: 0px; 
        overflow: hidden;
        padding-right: 15px;
        margin-right: 2.12766%;
        margin-left: 0;
    }
    .iconStores_container .appleStore_icon{
        margin-left: 15px;
        margin-right: 0px;
    }
}